<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred-convert</string>
	<key>connections</key>
	<dict>
		<key>1E12C11D-30DB-44A8-AD75-F5BE7F2DA451</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>607FA0B2-94A5-48E4-96E9-0BFA8872F7EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>67960284-5834-4BB2-849E-E5CF3254D3CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>96CC03AC-25D6-4FDB-AA8B-FCF145F4D597</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14C63701-669A-43A3-BF6A-65A23759DA5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EF92F243-C49B-4DFC-B0A4-72317B2457A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96CC03AC-25D6-4FDB-AA8B-FCF145F4D597</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Free-form conversions between different units</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Convert</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>conv</string>
				<key>queuedelay</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Convertifying…</string>
				<key>script</key>
				<string>/usr/bin/python convert.py "{query}"</string>
				<key>subtext</key>
				<string>Convert a free-form quantity to other units</string>
				<key>title</key>
				<string>Convert a Quantity</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1E12C11D-30DB-44A8-AD75-F5BE7F2DA451</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>607FA0B2-94A5-48E4-96E9-0BFA8872F7EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>67960284-5834-4BB2-849E-E5CF3254D3CF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>convinfo</string>
				<key>queuedelay</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>/usr/bin/python info.py "{query}"</string>
				<key>subtext</key>
				<string>View help file and supported currencies</string>
				<key>title</key>
				<string>Convert Information and Help</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EF92F243-C49B-4DFC-B0A4-72317B2457A7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>14C63701-669A-43A3-BF6A-65A23759DA5F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/python info.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>96CC03AC-25D6-4FDB-AA8B-FCF145F4D597</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>14C63701-669A-43A3-BF6A-65A23759DA5F</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>1E12C11D-30DB-44A8-AD75-F5BE7F2DA451</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>607FA0B2-94A5-48E4-96E9-0BFA8872F7EE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>67960284-5834-4BB2-849E-E5CF3254D3CF</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>96CC03AC-25D6-4FDB-AA8B-FCF145F4D597</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>EF92F243-C49B-4DFC-B0A4-72317B2457A7</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
