# Add your custom definitions to this file. See the Pint documentation for
# information on the necessary format:
# http://pint.readthedocs.org/en/latest/defining.html
# You can see the default definitions built in to Pint here:
# https://github.com/hgrecco/pint/blob/master/pint/default_en.txt

